body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Candara';
}

a {
    color: white;
    text-decoration: none;
}

img.nome {
    margin-top: -180px;
    margin-bottom: -220px;
}

h2.sub {
    margin-bottom: 50px;
}

nav.menu ul {
    text-align: left;
    list-style: none;
    position: absolute;
    top: -8px;
    right: 25px;
}

nav.menu li {
    padding: 5px;
    margin-top: -20px;
    margin-left: -30px;
}

img.logo {
    width: 10%;
    margin-top: -30px;
    margin-left: -25px;
}

img.int {
    width: 3%;
    margin-top: -40px;
    margin-left: 35px;
}

img.comp {
    width: 4%;
    margin-top: 20px;
    margin-left: 26px;
}

img.mais {
    width: 4%;
    margin-top: 25px;
    margin-left: 25px;
}

nav#menu a {
    color: #000;
    text-decoration: none;
}

header.cabecalho {
    height: 100px;
}

div.cont {
    margin-top: -40px;
}

h3.sub {
    margin-top: -10px;
}

div.imagem {
    width: 40%;
    margin: auto 500px auto 500px;
    text-align: center;
}

figure.software {
    position: relative;
    border: 8px groove gray;
}

figure.software img {
    width: 100%;
    height: 100%;
}

div.cont p {
    margin-left: 100px;
    margin-right: 100px;
}

video {
    width: 40%;
}

footer.rodape {
    clear: both;
    border-top: 1px solid white;
    text-align: center;
}
